* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2e8cf;
    color: #bc4749;
}
.table {
    height: 80vh;
    width: 100vw;
    background-color: #bc4749;
    display: flex;
    align-items: start;
    justify-content: center;
}

table {
    height: 300px;
    width: 500px;
    background-color: #f2e8cf;
    margin-top: 50px;
    border-radius: 10px;
}
td {
    text-align: center;
    text-transform: capitalize;
}
th {
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
}